extends layout

block content
  .user-list
    .container
      .row
        .col-md-2
        .col-md-8.main-div#inf-show
          div #{show.name}
          div #{show.description}
          div #{show.start}
          div #{show.end}
          div #{show.adress_number}
          div #{show.adress_complement}
          div #{show.adress_neighborhood}
          div #{show.adress_city}
          div #{show.adress_CEP}
          div #{show.adress_state}
          div
            form.form-horizontal(name="buy",method="post",action="/show/#{show.id}/buy")  
              if (session.passport != undefined)
                if (session.passport.user != undefined)
                  each user in session.passport.user
                    div #{user.name}
                    if (show.bought.includes(user._id))
                      p Cadastrado no Show!
                    else
                      button(type="submit") Cadastrar no show
        .col-md-2
            
