extends layout

block content
  .show_page
    .container-fluid
      .row
        .col-md-3
        .col-md-6.show_container
          img(src='/images/pic05.jpg', alt='pic').img_banner
          h2.margin-left.texto-negrito #{show.name}
          p.margin-left #{show.description}
          .row 
            .col-md-2
              p.texto-negrito.texto-direita Banda(s):
            .col-md-10
              p #{show.band}
          .row 
            .col-md-2
              p.texto-negrito.texto-direita Local:
            .col-md-10
              p #{show.place}
          .row 
            .col-md-2
              p.texto-negrito.texto-direita Endereço:
            .col-md-10
              p #{show.address}, nº #{show.address_number}, #{show.address_complement}

          .row 
            .col-md-2
              p.texto-negrito.texto-direita Início:
            .col-md-10
              p Dia #{show.start.getDay()}/#{show.start.getMonth()}, às #{show.start.getHours()}:0#{show.start.getMinutes()}h
          .row 
            .col-md-2
              p.texto-negrito.texto-direita Término:
            .col-md-10
              p Dia #{show.end.getDay()}/#{show.end.getMonth()}, às #{show.end.getHours()}:0#{show.end.getMinutes()}h
          .row
            div.botao-cadastro.margin-top(style="width: 100%;")
              form.form-horizontal(name="buy",method="post",action="/show/#{show.id}/buy")  
                if (session.passport != undefined)
                  if (session.passport.user != undefined)
                    each user in session.passport.user
                      if (show.bought.includes(user._id))
                        p Cadastrado no evento!
                      else
                        button.btn.btn-primary(type="submit", style="margin-bottom: 20px;", onClick="location.href='http://localhost:3000/show/#{show.id}'") Cadastrar no evento
                else
                  a.cadastro(href="/login") Faça login para se cadastrar no show!
        .col-md-2
            
